<div class="main-content">
  <mat-card class="header-btn" layout="fill">
    <a [routerLink]="['/landing']" class="back upcase">
      <img class="gap-right-5" src="/assets/img/back-small.svg" alt="back-arrow">
      <span>back</span>
    </a>
  </mat-card>
  <div class="header-page-title direction-color">
    <span class="page-title">Sign in</span>
  </div>
  <div class="content p-t-30 p-b-30">
    <mat-card>
      <div class="onboarding-words sub-direction-color">
        <p>Welcome back! Please enter your 13-word recovery key:</p>
      </div>
      <div class="key-area mono">
        <textarea #recoveryKey matInput rows="5" id="recoveryKey" [(ngModel)]="key"></textarea>
      </div>
    </mat-card>
  </div>
  <div class="footer-btn">
    <a class="next" [ngClass]="{'disable-btns': !key}" (click)="signin()">
      <span class="gap-right-15">Sign in</span><img src="/assets/img/signin.svg" alt="">
    </a>
  </div>
</div>
