<div>
  <mat-toolbar class="header" layout="fill">
    <div class="header-line"><hr><hr></div>
    <div class="header-title">sign in</div>
    <div class="header-line"><hr><hr></div>
  </mat-toolbar>
  <div class="content">
    <mat-card>
      <mat-card-content>
        <div class="onboarding-words">
          <p>Welcome back! To sign in, please enter your 13-word recovery key:</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card><hr></mat-card>
    <mat-card>
      <mat-card-content>
        <input type="text" id="recoveryKey" [(ngModel)]="key" placeholder="Enter your recovery key here ...">
      </mat-card-content>
    </mat-card>
  </div>
  <div class="bottom-buttons">
    <div class="back">
      <a [routerLink]="['/landing']"><img src="/assets/img/back-icon.svg" alt=""><span
          class="command">Back</span></a>
    </div>
    <div class="next">
      <a (click)="signin()" [ngClass]="{'disable-btns': !key}">
        <span class="command">Sign in</span>
        <img src="/assets/img/signin.svg" alt="">
      </a>
    </div>
  </div>
</div>
