.sheet-title {
  font-family: 'Domaine Sans Text';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
}

.sheet-btns {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: 'Domaine Sans Text';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: #003262;
}
