.mat-table {
  background-color: inherit !important;
  color: inherit !important;
}

.mat-column-resource {
  padding-left: 0 !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-score {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  min-width: 140px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-content: flex-end;
  padding-right: 0;
}

.ratio-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  input[type=radio] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  input[type=radio]:checked + label{
    background:gold;
  }

  label {
    display: inline-block;
    background-color: #2b2b2b;
    width: 20px;
    height: 20px;
    border-color: #2b2b2b;
    border-radius: 50%;
}
}

.highlight-resource {
  :host ::ng-deep .mat-radio-outer-circle {
    border-color: #000000;
    background: #000000;
  }
}

// .risk-color {
  // :host ::ng-deep .mat-radio-outer-circle {
  //   border-color: #000000;
  //   background: #000000;
  // }
// }
