<mat-card class="header" layout="fill">
  <div class="header-line"><hr><hr></div>
  <div class="header-title"><span>you</span></div>
  <div class="header-line"><hr><hr>
  </div>
</mat-card>
<mat-card class="main-direction content-center no-bottom">
  <p>Your private overview of your check-in data.</p>
</mat-card>
<mat-card class="font-14 content-center">
  <p>These insight are completely private and only visible to you.</p>
</mat-card>
<mat-card class="no-top"><hr></mat-card>

<mat-card class="header" layout="fill">
  <div class="header-line"><hr><hr></div>
  <div class="header-title"><span>symptoms</span></div>
  <div class="header-line"><hr><hr>
  </div>
</mat-card>
<mat-card>
  <div class="chart"></div>
</mat-card>
<mat-card>
  <div *ngIf="symptoms && symptoms.length">
    <mat-table [dataSource]="symptoms" class="mat-elevation-z8">
      <!-- chek Column -->
      <ng-container matColumnDef="check">
        <mat-header-cell class="small-title" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="row-items" *matCellDef="let element">
          <mat-checkbox [id]="element.id" [checked]="element.checked"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- symptom Column -->
      <ng-container matColumnDef="symptom">
        <mat-header-cell class="small-title" *matHeaderCellDef> symptom </mat-header-cell>
        <mat-cell class="row-items" *matCellDef="let element" (click)="selectSymptom(element)">
          {{element.name}}
        </mat-cell>
      </ng-container>

      <!-- days Column -->
      <ng-container matColumnDef="days">
        <mat-header-cell class="small-title" *matHeaderCellDef> days </mat-header-cell>
        <mat-cell class="row-items mono" *matCellDef="let element">{{element.value}}</mat-cell>
      </ng-container>

      <!-- change Column -->
      <ng-container matColumnDef="change">
        <mat-header-cell class="small-title" *matHeaderCellDef> change </mat-header-cell>
        <mat-cell class="row-items mono" *matCellDef="let element" [innerHTML]="element.change_rate | symptomDelta"></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['check', 'symptom', 'days', 'change']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['check', 'symptom', 'days', 'change'];"></mat-row>
    </mat-table>
  </div>
</mat-card>
<div class="p-b-30"></div>
