<div class="content">
  <mat-toolbar class="header" layout="fill">
    <div class="header-line"><hr><hr></div>
    <div class="header-title">permission</div>
    <div class="header-line"><hr><hr></div>
  </mat-toolbar>
  <div class="onboarding-content">
    <mat-card class="no-top center-direction">
      <div class="onboarding-words">
        <p>Autonomy requires access to the following:</p>
      </div>
    </mat-card>
    <mat-card><hr></mat-card>
    <mat-card>
      <div class="permission-scope">
        <div class="brief-des">
          <p>Notifications</p>
          <span>We’ll remind you to report symptoms and practice healthy behaviors. When your neighborhood’s health changes, we’ll send you alerts.</span>
        </div>
        <div class="access-btns">
          <button (click)="notificationGranted ? null : grantNotificationPermission()">
            <img [src]="notificationGranted ? '/assets/img/checked.svg' : '/assets/img/plus.svg'" alt="">
          </button>
        </div>
      </div>
    </mat-card>
    <mat-card><hr></mat-card>
    <mat-card>
      <div class="permission-scope">
        <div class="brief-des">
          <p>Location data</p>
          <span>Your data will be used to help improve your neighborhood’s health. Your own location will be kept private.</span>
        </div>
        <div class="access-btns">
          <button (click)="locationGranted ? null : grantLocationPermission()">
            <img [src]="locationGranted ? '/assets/img/checked.svg' : '/assets/img/plus.svg'" alt="">
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="bottom-buttons">
    <div class="next">
      <a [routerLink]="['/dashboard']" [ngClass]="{'disable-btns': false}">
        <span class="command">Done</span>
        <img src="/assets/img/done.svg" alt="">
      </a>
    </div>
  </div>
</div>