<div>
  <mat-toolbar class="header" layout="fill">
    <div class="header-line"><hr><hr></div>
    <div class="header-title">Autonomy</div>
    <div class="header-line"><hr><hr></div>
  </mat-toolbar>
  <div class="content">
    <mat-card>
      <mat-card-content>
        <div class="landing-words">
          <p>Get better.</p>
          <p>Together.</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <img src="/assets/img/Polygon.svg" alt="">
      </mat-card-content>
    </mat-card>
  </div>
  <div class="footer">
    <!-- <mat-card> -->
      <div class="start-landing">
        <a [routerLink]="['/signup']"><span class="command">Start</span><img src="/assets/img/next-icon.svg" alt=""></a>
      </div>
      <p>Or <a [routerLink]="['/signin']">sign back in >></a></p>
      <p>We protect your <a href="https://bitmark.com/privacy">Digital Rights</a>.</p>
    <!-- </mat-card> -->
  </div>
</div>
