.content {
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 768px;

  .landing-content {
    position: relative;
    height: calc(100vh - 130px - 56px);

    .landing-words {
      // height: calc(((100vh - 130px - 56px) / 100 * 35) - 30px);
      font-size: 8vh;
      font-weight: 300;
      line-height: 120%;
    }

    .logo {
      // position: relative;
      height: calc(((100vh - 130px - 56px) / 100 * 50));
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      .imgs {
        height: inherit;
        width: 100%;
        display: block;
        // margin-top: 20px;
        .autonomy-logo {
          width: 100%;
          height: 70%;
          object-fit: scale-down;
        }
        .ucl-logo {
          width: 100%;
          height: 30%;
          margin-top: 20px;
          object-fit: scale-down;
        }

        .height-70 {
          height: 70%;
        }

        .height-100 {
          height: 100%;
        }
      }
    }
  }

}

.landing-footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  height: 130px;

  .start-landing {
    font-family: 'Domaine Sans Text';
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 5px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      .command {
        padding-right: 1rem;
      }
      img {
        width: 45px;
        height: 45px;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  p {
    padding-bottom: .5em;
    &:nth-child(1) {
      padding: .5em;
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .header {
    height: 45px;
  }

  .autonomy-logo {
    height: 80% !important;
  }

  .ucl-logo {
    margin-top: 5px !important;
  }
}