.content {
  display: block;
  text-align: center;

  .landing-words {
    font-size: 64px;
    font-weight: 300;
    line-height: 120%;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: grey;
  width: 100%;

  .start-landing {
    font-weight: 300;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    padding-bottom: 1rem;
    
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      text-decoration: none;
      .command {
        padding-right: 1rem;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  p {
    padding-bottom: 1em;
    &:nth-child(1) {
      padding: 1em;
    }
  }
}