<div class="content">
  <mat-toolbar class="header" layout="fill">
    <div class="header-line"><hr><hr></div>
    <div class="header-title direction-color">Autonomy</div>
    <div class="header-line"><hr><hr></div>
  </mat-toolbar>
  <div class="landing-content">
    <mat-card class="landing-words direction-color no-top">
      <p>Get better.</p>
      <p>Together.</p>
    </mat-card>
    <mat-card class="logo no-top">
      <div class="imgs">
        <div class="autonomy-logo" [ngClass]="[ isStandalone() ? 'height-80' : 'height-67' ]"><img src="/assets/img/Polygon.svg" alt=""></div>
        <div class="ucl-logo"><img src="/assets/img/UCBerkeley_wordmark_blue.svg" alt=""></div>
      </div>
    </mat-card>
  </div>
  <div class="footer landing-footer">
    <div class="start-landing p-b-10">
      <a [routerLink]="['/signup']"><span class="command direction-color">Start</span><img src="/assets/img/next-icon.svg" alt=""></a>
    </div>
    <p>Or <a [routerLink]="['/signin']">sign back in »</a></p>
    <p><a href="https://bitmark.com/privacy">We protect your rights.</a></p>
  </div>
</div>
