.search-page {
  background-color: #E3EBF8;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .search-bar {
    border-bottom: 0.5pt solid #EDF0F4;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #E3EBF8;
  }

  .direction {
    color: #000000;
  }

  .non-places-found {
    color: #000000;
    text-align: center;
  }

  .resources-list {
    display: flex;
    flex-wrap: wrap;

    .resource-item {
      background: #ffffff;
      margin-right: 0.95em;
      margin-bottom: 0.85em;
      padding: 4px;
      word-break: break-word;
      font-size: 0.95em;
    }
  }

  .small-address {
    color: #000000;
    font-size: 0.85em;
  }

  .resource-score {
    display: flex;
    align-items: center;
  }
}

