<mat-card class="header" layout="fill">
  <div class="header-line"><hr><hr></div>
  <div class="header-title"><span>COMMUNITY</span></div>
  <div class="header-line"><hr><hr>
  </div>
</mat-card>
<mat-card class="main-direction content-center no-bottom">
  <p>Here’s how Berkeley stacks up as a community.</p>
</mat-card>
<mat-card class="font-14 content-center">
  <p class="p-b-20">{{checkedInPerson | number}} people from the Berkeley community have checked in this week.</p>
</mat-card>

<mat-card class="header" layout="fill">
  <div class="header-line"><hr><hr></div>
  <div class="header-title"><span>symptoms</span></div>
  <div class="header-line"><hr><hr>
  </div>
</mat-card>
<mat-card class="no-bottom"><p class="small-title">symptoms</p></mat-card>
<div class="chart" #chartEl></div>
<mat-card>
  <div #tableEl *ngIf="dataBySymptoms && dataBySymptoms.length">
    <mat-table [dataSource]="dataBySymptoms" class="mat-elevation-z8">
      <!-- chek Column -->
      <ng-container matColumnDef="check">
        <mat-header-cell class="small-title" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="row-items" *matCellDef="let element" (click)="selectSymptom(element)">
          <div class="checkRadio" [ngClass]="{ 'unCheckRadio': !element.chartShown }" [id]="'checkbox-' + element.id"></div>
        </mat-cell>
      </ng-container>

      <!-- symptom Column -->
      <ng-container matColumnDef="symptom">
        <mat-header-cell class="small-title" *matHeaderCellDef> symptom </mat-header-cell>
        <mat-cell class="row-items" *matCellDef="let element" (click)="selectSymptom(element)">
          {{element.name}}
        </mat-cell>
      </ng-container>

      <!-- count Column -->
      <ng-container matColumnDef="count">
        <mat-header-cell class="small-title" *matHeaderCellDef> count </mat-header-cell>
        <mat-cell class="row-items mono" *matCellDef="let element" (click)="selectSymptom(element)">{{element.value}}</mat-cell>
      </ng-container>

      <!-- change Column -->
      <ng-container matColumnDef="change">
        <mat-header-cell class="small-title" *matHeaderCellDef> change </mat-header-cell>
        <mat-cell class="row-items mono" *matCellDef="let element" [innerHTML]="element.change_rate | symptomDelta" (click)="selectSymptom(element)"></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['check', 'symptom', 'count', 'change']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['check', 'symptom', 'count', 'change'];"></mat-row>
    </mat-table>
  </div>
</mat-card>
<div class="p-b-30"></div>
