<mat-card class="header" layout="fill">
  <div class="header-line"><hr><hr></div>
  <div class="header-title"><span>COMMUNITY</span></div>
  <div class="header-line"><hr><hr>
  </div>
</mat-card>
<mat-card class="main-direction content-center no-bottom">
  <p>Here’s how Berkeley stacks up as a community.</p>
</mat-card>
<mat-card class="font-14 content-center">
  <p class="p-b-20">1,234 people from the Berkeley community have checked in this week.</p>
</mat-card>
<mat-card><hr></mat-card>

<mat-card class="header" layout="fill">
  <div class="header-line"><hr><hr></div>
  <div class="header-title"><span>symptoms</span></div>
  <div class="header-line"><hr><hr>
  </div>
</mat-card>
<mat-card>
  <div class="chart"></div>
</mat-card>
<mat-card>
</mat-card>
<div class="p-b-30"></div>
