<div [hidden]="view != PageView.Main" *ngIf="symptoms" class="main-content">
  <div class="content">
    <mat-toolbar class="header" layout="fill">
      <div class="header-line"><hr><hr></div>
      <div class="header-title">symptoms</div>
      <div class="header-line"><hr><hr></div>
    </mat-toolbar>
    <mat-card class="direction content-center">
      <p>Your symptoms will be anonymously pooled with others in this neighborhood.</p>
    </mat-card>
    <mat-card class="direction content-center">
      <p>Tap any symptoms you are experiencing or add new ones:</p>
    </mat-card>
    <mat-card><hr></mat-card>

    <mat-card class="sub-direction">
      <p>COMMON SYMPTOMS</p>
    </mat-card>
    <mat-card class="resources-list">
      <div *ngFor="let symptom of symptoms">
        <div *ngIf="symptom.common" class="resource-item" [ngClass]="{'highlight': symptom.picked}" (click)="toggleSymptomPicking(symptom.name)">
          {{symptom.name}}
        </div>
      </div>
    </mat-card>
    <mat-card class="sub-direction">
      <p>RECENT NEIGHBORHOOD symptoms</p>
    </mat-card>
    <mat-card class="resources-list">
      <div *ngFor="let symptom of symptoms">
        <div *ngIf="!symptom.common" class="resource-item" [ngClass]="{'highlight': symptom.picked}" (click)="toggleSymptomPicking(symptom.name)">
          {{symptom.name}}
        </div>
        <div *ngIf="!existCommon()">None</div>
      </div>
    </mat-card>

    <mat-toolbar class="suggest-resource search-bar">
      <mat-icon matPrefix class="search-icon">search</mat-icon>
      <input (click)="keyword='';setView(PageView.Search)" matInput type="search" placeholder="Report other symptoms ..." class="search-input">
    </mat-toolbar>
  </div>

  <!-- button footer -->
  <div class="bottom-buttons p-t-10">
    <div class="back">
      <a (click)="this.router.navigate(['/profile'])"><img src="/assets/img/back-icon.svg" alt=""><span
          class="command">Back</span></a>
    </div>
    <div class="next">
      <a (click)="submit()" [ngClass]="{'disable-btns': !isSubmit()}">
        <span class="command">submit</span>
        <img src="/assets/img/submit.svg" alt="">
      </a>
    </div>
  </div>
</div>
<div [hidden]="view != PageView.Search">
  <mat-toolbar class="search-bar">
    <mat-icon (click)="view = PageView.Main" matPrefix class="search-icon"><img src="/assets/img/clear-search.svg" alt=""></mat-icon>
    <input [(ngModel)]="keyword" (keyup)="autocomplete()" (keyup.enter)="view = PageView.Main; toggleSymptomPicking(keyword, true)" type="text" class="search-input" #searchInput>
  </mat-toolbar>
  <div *ngFor="let completeSymptoms of autocompleteSymptoms">
    <mat-card *ngIf="keyword.length && completeSymptoms.matched">
      <div class="p-b-10" (click)="view = PageView.Main; toggleSymptomPicking(completeSymptoms.name, true)">
        {{completeSymptoms.name}}
      </div>
      <hr>
    </mat-card>
  </div>
</div>
<div [hidden]="view != PageView.Thanks" *ngIf="symptomMetric" class="main-content">
  <div class="content">
    <mat-toolbar class="header" layout="fill">
      <div class="header-line"><hr><hr></div>
      <div class="header-title">REPORTED</div>
      <div class="header-line"><hr><hr></div>
    </mat-toolbar>
    <mat-card class="direction content-center">
      <p>Thanks for sharing your symptoms with your neighborhood!</p>
    </mat-card>
    <mat-card><hr></mat-card>

    <mat-card class="direction upcase">
      <p>SYMPTOMS</p>
    </mat-card>
    <mat-card class="metric-report">
      <div class="you">
        <p class="sub-direction">SYMPTOMS YOU REPORTED TODAY</p>
        <p class="metric-num">{{symptomMetric.me.total_today}}</p>
        <p [innerHTML]="symptomMetric.me.delta | symptomDelta"></p>
        <p class="small-title">FROM YESTERDAY</p>
      </div>
      <div class="community">
        <p class="sub-direction">SYMPTOMS YOU REPORTED TODAY</p>
        <p class="metric-num">{{symptomMetric.community.avg_today}}</p>
        <p [innerHTML]="symptomMetric.community.delta | placeDelta"></p>
        <p class="small-title">FROM YESTERDAY</p>
      </div>
    </mat-card>
    <mat-card class="p-t-10">
      <a class="advice content-right" (click)="view = PageView.CommonGuide">
        <p>Learn how to keep others safe</p>
        <img src="/assets/img/next-grey.svg" alt="">
      </a>
    </mat-card>
  </div>

  <!-- button footer -->
  <div class="bottom-buttons p-t-10">
    <div class="back">
      <a (click)="this.router.navigate(['/report-behavior'])"><img src="/assets/img/plus.svg" alt=""><span
          class="command content-left">REPORT BEHAVIORS</span></a>
    </div>
    <div class="next">
      <a (click)="this.router.navigate(['/profile'])">
        <span class="command">done</span>
        <img src="/assets/img/done.svg" alt="">
      </a>
    </div>
  </div>
</div>
<div [hidden]="view != PageView.CommonGuide" class="main-content">
  <div class="content">
    <mat-toolbar class="header" layout="fill">
      <div class="header-line"><hr><hr></div>
      <div class="header-title">GUIDANCE</div>
      <div class="header-line"><hr><hr></div>
    </mat-toolbar>
    <mat-card class="direction content-center">
      <p>How to correctly perform healthy behaviors:</p>
    </mat-card>
    <mat-card><hr></mat-card>
    <mat-card class="guide">
      <p class="p-b-10 sub-direction">Hand washing</p>
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OkMJ8NYeVUE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-card>
    <mat-card class="no-bottom"><hr></mat-card>
    <mat-card class="guide">
      <p class="p-b-10 sub-direction">applying hand sanitizer</p>
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/q2hMrlnU5Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-card>
    <mat-card class="no-bottom"><hr></mat-card>
    <mat-card class="guide">
      <p class="p-b-10 sub-direction">WEARING A SURGICAL MASK</p>
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/h7MOW7tODRs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-card>
    <mat-card class="no-bottom"><hr></mat-card>
  </div>

  <!-- button footer -->
  <div class="bottom-buttons p-t-10">
    <div class="back">
      <a (click)="setView(PageView.Thanks)"><img src="/assets/img/back-icon.svg" alt=""><span
          class="command content-left">back</span></a>
    </div>
  </div>
</div>
<div [hidden]="view != PageView.SymptomGuide" class="main-content" *ngIf="symptomGuide">
  <div class="content">
    <mat-toolbar class="header" layout="fill">
      <div class="header-line"><hr><hr></div>
      <div class="header-title">REPORTED</div>
      <div class="header-line"><hr><hr></div>
    </mat-toolbar>
    <mat-card class="direction content-center">
      <p>At least one of the symptoms you reported is a common COVID-19 symptom.</p>
    </mat-card>
    <mat-card class="content-center">
      <p>To protect the health of you and your neighborhood, the Taiwan CDC encourages you to get tested for COVID-19 as soon as possible at one of the following testing centers:</p>
    </mat-card>
    <mat-card class="no-bottom"><hr></mat-card>

    <div *ngFor="let guide of symptomGuide">
      <mat-card>
        <div class="guide-row guide-title p-b-10">
          <p class="content-left col-70">{{guide.name}}</p>
          <p class="content-right col-30">{{guide.distance}}km</p>
        </div>
        <div class="guide-row guide-detail">
          <p class="content-left col-70">{{guide.address}}</p>
          <div class="content-right col-30">
            <a class="gap-right-5" [href]="'tel:+'+ guide.phone"><img src="/assets/img/phone.svg" alt=""></a>
            <a [href]="'https://www.google.com/maps/search/?api=1&query=' + guide.address" target="_blank"><img src="/assets/img/address.svg" alt=""></a>
          </div>
        </div>
      </mat-card>
      <mat-card class="no-top no-bottom"><hr></mat-card>
    </div>

  </div>

  <!-- button footer -->
  <div class="bottom-buttons p-t-10">
    <div class="back">
      <a (click)="this.router.navigate(['/report-behavior'])"><img src="/assets/img/plus.svg" alt=""><span
          class="command content-left">REPORT BEHAVIORS</span></a>
    </div>
    <div class="next">
      <a (click)="this.router.navigate(['/profile'])">
        <span class="command">done</span>
        <img src="/assets/img/done.svg" alt="">
      </a>
    </div>
  </div>
</div>
