<div class="search-page p-b-30">
  <mat-toolbar class="search-bar">
    <div class="col">
      <mat-icon matPrefix class="search-icon"><img src="/assets/img/search.svg" alt=""></mat-icon>
      <input class="search-input" matInput type="text" placeholder="Enter local name or address ..." class="search-input">
    </div>
  </mat-toolbar>
  <mat-card class="no-top no-bottom search-bar-line"><hr></mat-card>
  <mat-card class="main-direction content-center no-bottom">
    <div class="p-t-20 p-b-20"><p>Find safe resources</p></div>
  </mat-card>
  <mat-card class="font-14 content-center">
    <p class="p-b-20">We can help you identify safe resources in and around the Berkeley community. Just tap one of the resource types below
    or enter a local name or address in the search field above.</p>
  </mat-card>
  <mat-card class="resources-list">
    <div class="resource-item font-14" *ngFor="let resource of resources">
      {{resource.name}}
    </div>
  </mat-card>
</div>
