<div class="search-page p-b-30">
  <div class="sticky-box">
    <mat-toolbar class="search-bar">
      <mat-icon matPrefix class="search-icon"><img src="/assets/img/search.svg" alt=""></mat-icon>
      <input [hidden]="poiType" #placeSearchInput [(ngModel)]="keyword" (focusout)="onInputFocusOut()" (focus)="onInputFocus()" class="search-input" matInput type="text" placeholder="Enter local name or address ...">
      <div [hidden]="!poiType" class="search-input">
        <p class="resource-on-searching">{{poiType}}</p>
      </div>
      <button mat-button *ngIf="keyword || poiType" matSuffix mat-icon-button aria-label="Clear" (click)="clearAll()">
        <img src="/assets/img/clear-search.svg" alt="">
      </button>
    </mat-toolbar>
    <mat-card class="no-top search-bar-line"><hr></mat-card>
  </div>
  <div *ngIf="(!keyword) && (!poiType)">
    <mat-card class="main-direction direction-color content-center no-bottom">
      <div class="p-t-10 p-b-20"><p>Find safe resources</p></div>
    </mat-card>
    <mat-card class="font-14 sub-direction-color content-center">
      <p class="p-b-20">We can help you identify safe resources in and around the Berkeley community. Just tap one of the resource types below
      or enter a local name or address in the search field above.</p>
    </mat-card>
    <mat-card class="resources-list">
      <div class="resource-item font-14 clickable" *ngFor="let type of poiTypes"
        (click)="searchByPlaceType(type)">
        {{type}}
      </div>
    </mat-card>
  </div>

  <google-map [center]="mapCenter" [options]="mapOptions">
    <map-marker
      *ngFor="let poi of pois"
      [position]="{lat: poi.location.latitude, lng: poi.location.longitude}"
      [title]="poi.alias"
      [options]="{icon: {path: mapIconSVGPath, strokeColor: poi.color, fillColor: poi.color, fillOpacity: 1, scale: poi.id === focusedPOI.id ? 2 : 1}}",
      (click)="focusToPlace(poi)"
    >
    </map-marker>
  </google-map>

  <div *ngIf="(keyword || poiType) && pois && pois.length">
    <mat-card class="no-bottom" *ngFor="let place of pois">
      <div class="place-found clickable" (click)="navigateToPOI(place.id)">
        <p>{{place.alias}}</p>
        <p class="small-address p-t-5 line-height-120">{{place.address}}</p>

        <div class="resource-score search-resource p-t-5">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [disabled]="true">
            <div *ngIf="!place.resource_score" class="group-radios">
              <div class="default-color gap-right-10">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [1,2,3,4,5]" [value]="i"></mat-radio-button>
              </div>
              <span class="small-address line-height-120">(not yet rated)</span>
            </div>
            <div *ngIf="place.resource_score > 0 && place.resource_score <= 1" class="group-radios">
              <div class="risk-color">
                <mat-radio-button class="example-radio-button" [value]="1"></mat-radio-button>
              </div>
              <div class="default-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [2,3,4,5]" [value]="i"></mat-radio-button>
              </div>
            </div>
            <div *ngIf="place.resource_score > 1 && place.resource_score <= 1.6" class="group-radios">
              <div class="risk-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [1,2]" [value]="i"></mat-radio-button>
              </div>
              <div class="default-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [3,4,5]" [value]="i"></mat-radio-button>
              </div>
            </div>
            <div *ngIf="place.resource_score > 1.6 && place.resource_score <= 2" class="group-radios">
              <div class="warn-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [1,2]" [value]="i"></mat-radio-button>
              </div>
              <div class="default-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [3,4,5]" [value]="i"></mat-radio-button>
              </div>
            </div>
            <div *ngIf="place.resource_score > 2 && place.resource_score <= 3" class="group-radios">
              <div class="warn-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [1,2,3]" [value]="i"></mat-radio-button>
              </div>
              <div class="default-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [4,5]" [value]="i"></mat-radio-button>
              </div>
            </div>
            <div *ngIf="place.resource_score > 3 && place.resource_score <= 3.3" class="group-radios">
              <div class="warn-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [1,2,3,4]" [value]="i"></mat-radio-button>
              </div>
              <div class="default-color">
                <mat-radio-button class="example-radio-button" [value]="5"></mat-radio-button>
              </div>
            </div>
            <div *ngIf="place.resource_score > 3.3 && place.resource_score <= 4" class="group-radios">
              <div class="good-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [1,2,3,4]" [value]="i"></mat-radio-button>
              </div>
              <div class="default-color">
                <mat-radio-button class="example-radio-button" [value]="5"></mat-radio-button>
              </div>
            </div>
            <div *ngIf="place.resource_score > 4 && place.resource_score <= 5" class="group-radios">
              <div class="good-color">
                <mat-radio-button class="example-radio-button" *ngFor="let i of [1,2,3,4,5]" [value]="i"></mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
          <p *ngIf="place.resource_score" class="resource-rating gap-right-15" [innerHTML]="place.resource_score | reportScore"></p>
          <span *ngIf="place.resource_score && place.last_updated" class="small-address line-height-120">({{place.last_updated | relativeDate}})</span>
        </div>
      </div>
      <div class="p-t-10"><hr></div>
    </mat-card>
  </div>
  <mat-card class="non-places-found" *ngIf="!isSearching && poiType && pois && !pois.length">
    <p>Sorry, there aren’t currently any places in our system offering that resource. Be the first to add it for places you know!</p>
  </mat-card>
</div>
