<div class="search-page">
  <div class="sticky-box">
    <mat-toolbar class="search-bar">
      <mat-icon matPrefix class="search-icon"><img src="/assets/img/search.svg" alt=""></mat-icon>
      <input [hidden]="poiType" #poiSearchInput [(ngModel)]="keyword" (focusout)="onInputFocusOut()" (focus)="onInputFocus()" class="search-input" matInput type="text" placeholder="Find your next local resource...">
      <div [hidden]="!poiType" class="search-input">
        <p class="resource-on-searching">{{poiType}}</p>
      </div>
      <button mat-button *ngIf="keyword || poiType" matSuffix mat-icon-button aria-label="Clear" (click)="clearAll()">
        <img src="/assets/img/clear-search.svg" alt="">
      </button>
    </mat-toolbar>
    <mat-card class="no-top no-bottom"><hr></mat-card>
  </div>
  <div *ngIf="pois && poiTypes" class="content-view">
    <mat-card class="resources-list">
      <span class="resource-item font-14 capital clickable" *ngFor="let type of poiTypes"
        (click)="searchByPlaceType(type)">
        {{type}}
    </span>
    </mat-card>
    <google-map class="map-view" [height]="mapHeight" [width]="mapWidth" [center]="mapCenter" [options]="mapOptions" (zoomChanged)="zoomHandle()" (mapDragend)="dragEndHandle()">
      <map-marker
        *ngFor="let poi of pois; trackBy: trackByPoiID"
        [position]="{lat: poi.location.latitude, lng: poi.location.longitude}"
        [title]="poi.alias"
        [options]="{
          icon: {
            path: mapIconSVGPath,
            strokeColor: poi.color,
            fillColor: poi.color,
            fillOpacity: 1,
            labelOrigin: labelPosition,
            scale: (focusedPOI && poi.id == focusedPOI.id) ? 1.5 : 1
          },
          zIndex: (focusedPOI && poi.id == focusedPOI.id) ? 9999 : 99,
          label: (focusedPOI && poi.id === focusedPOI.id) ? {text: poi.alias, color: '#303030', fontFamily: 'Atlas Grotesk', fontWeight: '600'} : (labelShown && !(focusedPOI)) ? {text: poi.alias, color: '#303030', fontFamily: 'Atlas Grotesk', fontWeight: '300'} : ''}"
        (mapClick)="focusToPlace(poi)"
      >
      </map-marker>
    </google-map>
  </div>

  <div [ngClass]="{'list-not-standalone': !isStandalone()}" class="result-place-list">
    <div class="line-icon"><span (click)="isViewListShow = !isViewListShow"></span></div>
    <div [hidden]="(focusState || !isViewListShow || (isViewListShow && isSearching))" class="p-t-10" *ngIf="pois && pois.length">
      <div *ngFor="let poi of pois; trackBy: trackByPoiID">
        <mat-card (click)="focusToPlace(poi)" class="hovering clickable no-bottom col content-left" [ngClass]="{'grey-text-color': !poi.resource_score}">
          <div class="col-30">
            <div [ngStyle]="{'background': poi.color}" class="content-center place-score"><span class="score-num">{{poi.resource_score ? (poi.resource_score | number:'1.1-1') : '--'}}</span></div>
            <p *ngIf="poi.resource_score && poi.rating_last_updated" class="content-center font-10 line-height-120 p-t-10">Last rated: {{poi.rating_last_updated | relativeDate}}</p>
            <p *ngIf="!poi.resource_score || poi.rating_last_updated === 0" class="content-center font-10 line-height-120 p-t-10">Last rated: --</p>
          </div>
          <div class="col-70">
            <mat-card class="no-top no-bottom no-right">
              <p class="upcase font-14">{{poi.alias}}</p>
              <p class="font-12 grey-text-color p-b-5 capital">{{poi.place_type}}</p> <!-- category -->
              <p *ngIf="poi.todayOpenHour" [ngClass]="{'grey-text-color': !poi.resource_score, 'direction-color': poi.resource_score}" class="font-12 p-b-5">{{poi.todayOpenHourForView}}</p> <!-- open hours -->
              <p *ngIf="poi.services_active" [ngClass]="{'grey-text-color': !poi.resource_score, 'direction-color': poi.resource_score}" class="font-12 p-b-5 capital">{{poi.services_active}}</p> <!-- services -->
              <div *ngIf="!poi.todayOpenHour && !poi.services_active">
                <p class="font-12 p-b-5 grey-text-color">No data</p>
                <p class="font-12 p-b-5 grey-text-color">--</p>
              </div>
              <p class="font-10 content-right"><a class="normal-link clickable" (click)="navigateToPOI(poi.id)">More details</a></p>
            </mat-card>
          </div>
        </mat-card>
        <div class="light-line p-t-10"><hr></div>
      </div>
    </div>
  </div>
  <div [hidden]="!focusState" *ngIf="focusedPOI" class="result-place-list">
    <p *ngIf="!isViewListShow" style="padding-right: 16px;" class="col p-t-10 font-10 upcase content-right" (click)="unfocusPlace(focusedPOI)"><img src="/assets/img/dismiss.svg" alt=""></p>
    <p *ngIf="isViewListShow" style="padding-right: 16px;" class="col p-t-10 font-10 upcase content-right" (click)="unfocusPlace(focusedPOI)"><img src="/assets/img/list-icon.svg" alt=""></p>
    <mat-card class="no-bottom col content-left" [ngClass]="{'grey-text-color': !focusedPOI.resource_score}">
      <div class="col-30">
        <div [ngStyle]="{'background': focusedPOI.color}" class="content-center place-score"><span class="score-num">{{focusedPOI.resource_score ? (focusedPOI.resource_score | number:'1.1-1') : '--'}}</span></div>
        <p *ngIf="focusedPOI.resource_score && focusedPOI.rating_last_updated" class="content-center font-10 line-height-120 p-t-10">Last rated: {{focusedPOI.rating_last_updated | relativeDate}}</p>
        <p *ngIf="!focusedPOI.resource_score && focusedPOI.rating_last_updated === 0" class="content-center font-10 line-height-120 p-t-10">Last rated: --</p>
      </div>
      <div class="col-70">
        <mat-card class="no-top no-bottom no-right">
          <p class="upcase font-14">{{focusedPOI.alias}}</p>
          <p class="font-12 grey-text-color p-b-5 capital">{{focusedPOI.place_type}}</p> <!-- category -->
          <p *ngIf="focusedPOI.todayOpenHour" [ngClass]="{'grey-text-color': !focusedPOI.resource_score, 'direction-color': focusedPOI.resource_score}" class="font-12 p-b-5">{{focusedPOI.todayOpenHourForView}}</p> <!-- open hours -->
          <p *ngIf="focusedPOI.services_active" [ngClass]="{'grey-text-color': !focusedPOI.resource_score, 'direction-color': focusedPOI.resource_score}" class="font-12 p-b-5 capital">{{focusedPOI.services_active}}</p> <!-- services -->
          <div *ngIf="!focusedPOI.todayOpenHour && !focusedPOI.services_active">
            <p class="font-12 p-b-5 grey-text-color">No data</p>
            <p class="font-12 p-b-5 grey-text-color">--</p>
          </div>
          <p class="font-10 content-right"><a class="normal-link" (click)="navigateToPOI(focusedPOI.id)">More details</a></p>
        </mat-card>
      </div>
    </mat-card>
  </div>

  <!-- <mat-card class="non-places-found" *ngIf="!isSearching && poiType && pois && !pois.length">
    <p>Sorry, there aren’t currently any places in our system offering that resource. Be the first to add it for places you know!</p>
  </mat-card> -->
</div>
