.direction {
  color: #000000;
}

.non-places-found {
  color: #000000;
  text-align: center;
}

.resources-list {
  display: flex;
  flex-wrap: wrap;

  .resource-item {
    background: #DDD5C7;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 5px 15px;
    word-break: break-word;
  }
}

.small-address {
  color: #000000;
  font-size: 0.75em;
}

.resource-score {
  display: flex;
  align-items: center;
}

.resource-on-searching {
  background: #DDD5C7;
  width: fit-content;
  padding: 5px 15px;
  font-size: 14px;
  word-break: break-word;
}

.resource-rating {
  font-family: 'IBM Plex Mono';
  font-size: 14px;
}

.sticky-box {
  position: sticky;
  top: 0;
  z-index: 99;
  background: #ffffff;
}
