<div [hidden]="stage != PageStage.PDE" class="main-content">
  <mat-card class="header-btn" layout="fill">
    <a [routerLink]="['/home/setting']" class="back upcase">
      <img class="gap-right-5" src="/assets/img/back-small.svg" alt="back-arrow">
      <span>back</span>
    </a>
  </mat-card>
  <div class="header-page-title direction-color m-b-30">
    <span class="line-title"></span>
    <span class="page-title">Your data</span>
  </div>
  <mat-card>
    <p class="font-18 line-height-120 p-b-10">All your data on Autonomy is anonymous and non-personally-identifiable. It is automatically submitted to show the community data trends and can be used for community-level pooling and research.</p>
    <p class="font-18 line-height-120 p-b-20">You may do any of the following:</p>
    <div class="col content-left">
      <div class="gap-right-5"><img style="padding-bottom: 2px;" src="/assets/img/triangle-arrow.svg" alt=""></div>
      <div class="col">
        <p class="font-18 line-height-120 p-b-10">Export your data</p>
        <a [routerLink]="['/home/setting/pde/read']" class="content-left command-img"><span
            class="font-14 upcase direction-color gap-right-5 p-b-20">learn more</span><img
            src="/assets/img/next-icon-small.svg" alt=""></a>
        <div class="light-line"><hr></div>
      </div>
    </div>
    <div class="col content-left p-t-20">
      <div class="gap-right-5"><img style="padding-bottom: 2px;" src="/assets/img/triangle-arrow.svg" alt=""></div>
      <div class="col">
        <p class="font-18 line-height-120 p-b-10">Delete your data</p>
        <a [routerLink]="['/home/setting/pde/delete']" class="content-left command-img"><span
            class="font-14 upcase direction-color gap-right-5 p-b-20">learn more</span><img
            src="/assets/img/next-icon-small.svg" alt=""></a>
        <div class="light-line"><hr></div>
      </div>
    </div>
  </mat-card>
</div>
<div [hidden]="stage != PageStage.Read" class="main-content">
  <mat-card class="header-btn" layout="fill">
    <a [routerLink]="['/home/setting/pde']" class="back upcase">
      <img class="gap-right-5" src="/assets/img/back-small.svg" alt="back-arrow">
      <span>back</span>
    </a>
  </mat-card>
  <div class="header-page-title direction-color m-b-30">
    <span class="line-title"></span>
    <span class="page-title">Export your data</span>
  </div>
  <mat-card>
    <p class="font-18 line-height-120 p-b-20">Autonomy will prepare a .zip file with your data for you to download.</p>
    <p class="font-18 line-height-120 p-b-20">The following data will be exported:</p>
    <div class="col content-left">
      <div class="gap-right-5"><img src="/assets/img/arrow.svg" alt=""></div>
      <div class="col">
        <p class="font-18 line-height-120 p-b-10">Resource ratings</p>
        <div class="light-line"><hr></div>
      </div>
    </div>
    <p class="font-18 line-height-120 p-t-20">Depending on how much data you have, the export might take some time to process. Once it’s done processing, you will be prompted to download the file.</p>
  </mat-card>
  <a #saveFile></a>
  <div class="footer-btn">
    <a (click)="exportData()" [ngClass]="{'disable-btns': !clickable}" class="next dark-btn">
      <span class="gap-right-15">EXPORT</span><img src="/assets/img/next-landing.svg" alt="">
    </a>
  </div>
</div>
<div [hidden]="stage != PageStage.Delete" class="main-content">
  <mat-card class="header-btn" layout="fill">
    <a [routerLink]="['/home/setting/pde']" class="back upcase">
      <img class="gap-right-5" src="/assets/img/back-small.svg" alt="back-arrow">
      <span>back</span>
    </a>
  </mat-card>
  <div class="header-page-title direction-color m-b-30">
    <span class="line-title"></span>
    <span class="page-title">Delete your data</span>
  </div>
  <mat-card>
    <p class="font-18 line-height-120 p-b-20">Deleting your data will completely erase all your data in Autonomy.</p>
    <p class="font-18 line-height-120 p-b-20">Since there is no way for Bitmark or anyone else to recover your data after you’ve deleted it, we highly recommend that you first <a class="normal-link" [routerLink]="['/home/setting/pde/read']">export your data</a>.</p>
    <p class="font-18 line-height-120 p-b-20">After deleting your data, you will automatically be signed out of Autonomy.</p>
  </mat-card>
  <div class="footer-btn">
    <a (click)="deleteData()" [ngClass]="{'disable-btns': !clickable}" class="next dark-btn">
      <span class="gap-right-15">DELETE</span><img src="/assets/img/next-landing.svg" alt="">
    </a>
  </div>
</div>
