<mat-card class="header-btn" layout="fill">
  <a [routerLink]="['/home/setting']" class="back upcase">
    <img class="gap-right-5" src="/assets/img/back-small.svg" alt="back-arrow">
    <span>back</span>
  </a>
</mat-card>
<div class="header-page-title direction-color m-b-30">
  <span class="line-title"></span>
  <span class="page-title">FAQ</span>
</div>
<mat-card class="font-18 line-height-120 faq-content">
  <div class="QA">
    <p><strong>What is Autonomy?</strong></p>
    <p>Autonomy is a public health app that helps people understand how their local community is coping during COVID-19. Autonomy allows participants to control their rights to personal data submitted to the app, creating a safe privacy-first environment for participants.</p>
  </div>
  <div class="QA">
    <p><strong>Why should I use Autonomy?</strong></p>
    <p>We all want to resume our lives as safely as possible during COVID-19. Autonomy is intended to help you do just that, without having to give up your digital privacy. We do not intend to use contact tracing or other methods that could potentially breach the trust between you and our product.</p>
  </div>
  <div class="QA">
    <p><strong>Who built Autonomy?</strong></p>
    <p>We are Bitmark, a Taiwanese-based startup pioneering the use of blockchain technology to protect digital rights. Our mission is to make data control accessible to everyone. Working across essential services of public health, life sciences, entertainment, and digital identity, we make tools for individuals and organizations that extend the Bitmark rights protocol to their specific needs.</p>
  </div>
  <div class="QA">
    <p>We have partnered with premiere institutions including UC Berkeley, Pfizer, and KKBOX. Bitmark is co-founded by serial entrepreneur Sean Moss-Pultz and backed by leading international institutional investors and the government of Taiwan. We were selected as a Top 100 Technology Pioneer in 2020 by the World Economic Forum.</p>
  </div>
  <div class="QA">
    <p><strong>What is my data used for?</strong></p>
    <p>Currently, your data is shown in the Resources section. Your ratings will be added to the community scores without any of your personal data recorded. This data is meant to help you and others in your community make better judgments when interacting with businesses.</p>
  </div>
  <div class="QA">
    <p>It is possible that we will grant data access to researchers or third party institutions who want to use this data to further their COVID-19 research in public health. To promote transparency, we will list the partnered organizations below and, when allowed, filter back reports from these studies to you.</p>
  </div>
  <div class="QA">
    <p><strong>Partnered organizations</strong></p>
    <p>UC Berkeley</p>
  </div>
  <div class="QA">
    <p><strong>What is the purpose of Resources?</strong></p>
    <p>Resources is a feature that allows you to decide what is best for your community. The more ratings each resource has, the more accurate the ratings and the better you will be able to make decisions within your community.</p>
  </div>
  <div class="QA">
    <p><strong>Why is the business hours or description of X resource wrong?</strong></p>
    <p>Our student volunteers have personally contacted each business to update their business hours. If you have detected an error in the description of a resource, please contact us and we will correct it right away.</p>
  </div>
  <div class="QA">
    <p><strong>How can I help the mission for Autonomy?</strong></p>
    <p>Here at Bitmark we are always looking for individuals to join our mission! We are open to welcoming volunteers, interns, or other career positions.</p>
  </div>
  <div class="QA">
    <p>If you have any interest in our company, please email us at <span class="normal-link">michael@bitmark.com</span>.</p>
  </div>
</mat-card>