<div *ngIf="poi" class="main-content">
  <mat-toolbar class="title-page" layout="fill">
    <p>{{poi.alias}}</p>
  </mat-toolbar>
  <mat-card>
    <div class="triangle">
      <a>
        <img class="triangle-boder" src="/assets/img/triangles/triangle_{{poi.autonomy_score | number:'1.0-0'}}.svg"
          [alt]="poi.autonomy_score">
        <div class="inside-triangle">
          <span class="score">{{poi.autonomy_score | number:'1.0-0'}}</span>
          <span class="delta" [innerHTML]="poi.autonomy_score_delta | placeDelta"></span>
        </div>
      </a>
    </div>
  </mat-card>
  <mat-card>
    <p class="small-title p-b-10">ADDRESS</p>
    <div *ngIf="poi.address" class="content-left">
      <p class="col-90 gap-right-10">{{poi.address}}</p>
      <a class="content-right col-10 address-link" [href]="'https://www.google.com/maps/search/?api=1&query=' + poi.address" target="_blank"><img src="/assets/img/related-url.svg" alt=""></a>
    </div>
  </mat-card>

  <!-- report card -->
  <mat-card class="header" layout="fill">
    <div class="header-line"><hr><hr></div>
    <div class="header-title"><span>report card</span></div>
    <div class="header-line"><hr><hr>
    </div>
  </mat-card>
  <mat-card>
    <div *ngIf="resources && resources.length">
      <mat-table [dataSource]="resources" class="mat-elevation-z8">
        <!-- resource Column -->
        <ng-container matColumnDef="resource">
          <mat-header-cell class="small-title" *matHeaderCellDef> resource </mat-header-cell>
          <mat-cell class="row-items" *matCellDef="let element" (click)="this.router.navigate(['/rating', poi.id], { queryParams: { highlight_id: element.resource.id } })"> {{element.resource.name}} </mat-cell>
        </ng-container>
      
        <!-- score Column -->
        <ng-container matColumnDef="score">
          <mat-header-cell class="small-title" *matHeaderCellDef> score (1-5) </mat-header-cell>
          <mat-cell class="row-items" *matCellDef="let element" (click)="this.router.navigate(['/rating', poi.id], { queryParams: { highlight_id: element.resource.id } })" [innerHTML]="element.score | reportScore"></mat-cell>
        </ng-container>
      
        <!-- ratings Column -->
        <ng-container matColumnDef="ratings">
          <mat-header-cell class="small-title" *matHeaderCellDef> ratings </mat-header-cell>
          <mat-cell class="row-items" *matCellDef="let element" (click)="this.router.navigate(['/rating', poi.id], { queryParams: { highlight_id: element.resource.id } })"> {{element.ratings}} </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="['resource', 'score', 'ratings']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['resource', 'score', 'ratings'];"></mat-row>
      </mat-table>
    </div>
    <div *ngIf="!(resources && resources.length)" class="resource-empty">
      <p>You can be the first to add resources provided by this place by tapping below.</p>
      <div class="content-right">
        <img src="/assets/img/arrow-down.svg" alt="">
      </div>
    </div>
    <mat-card class="resource-footer">
      <button *ngIf="(poi.resources && poi.resources.length > 10 && resources != poi.resources)" (click)="showMore()" class="resource-footer-items left no-left no-right"><img src="/assets/img/done.svg" alt=""><span>More</span></button>
      <button (click)="this.router.navigate(['/resources-adding', poi.id])" class="resource-footer-items right no-right no-left"><span>add resource</span><img src="/assets/img/plus.svg" alt=""></button>
    </mat-card>
  </mat-card>
  <div class="p-b-30"></div>

  <div class="bottom-buttons">
    <div class="back">
      <a (click)="this.router.navigate(['/dashboard'])"><img src="/assets/img/back-icon.svg" alt=""><span
          class="command">Back</span></a>
    </div>
    <div *ngIf="!poi.owned" class="next">
      <a (click)="monitor()">
        <span class="command">monitor</span>
        <img src="/assets/img/plus.svg" alt="">
      </a>
    </div>
    <div *ngIf="poi.owned" class="next">
      <a (click)="forgetPOI()">
        <span class="command command-long">monitoring</span>
        <img src="/assets/img/checked.svg" alt="">
      </a>
    </div>
  </div>
</div>
