<div *ngIf="poi" class="main-content">
  <div [ngStyle]="{ 'background': poiBackground }" class="base-info">
    <mat-card class="header-btn light-color" layout="fill">
      <a (click)="this.router.navigate(['/home/resources'])" class="back upcase">
        <img class="gap-right-5" src="/assets/img/back-small-white.svg" alt="back-arrow">
        <span>back</span>
      </a>
    </mat-card>
    <div class="header-page-title upcase content-center">
      <span class="page-title">{{poi.alias}}</span>
    </div>
    <mat-card class="rate">
      <p *ngIf="poi.resource_score"><strong>345</strong><span class="light-color"> ratings</span></p>
      <p *ngIf="!poi.resource_score"><strong>0</strong><span class="light-color"> ratings</span></p>
      <p *ngIf="poi.resource_score" class="last-updated light-color">Rated {{poi.rating_last_updated | relativeDate}}</p>
      <p *ngIf="!poi.resource_score" class="last-updated light-color">Not yet rated</p>
    </mat-card>
    <div [ngStyle]="{ 'background': poiBackground }" class="content-center poi-score">
      <p *ngIf="poi.resource_score" class="font-24">{{poi.resource_score | number:'1.1-1'}}</p>
      <p *ngIf="!poi.resource_score" class="font-24">--</p>
    </div>
  </div>
  <div class="col detail-info">
    <mat-card class="col-50 left">
      <p class="small-title direction-color p-b-10">open hours</p>
      <div *ngIf="todayOpenHour">
        <div style="max-width: 150px;" class="content-left col font-12 line-height-120 p-b-5">
          <p class="col-40 content-left">Today</p>
          <p class="col-60 content-right">{{todayOpenHour}}</p>
        </div>
        <div *ngFor="let item of openHours" style="max-width: 150px; padding-bottom: 2px;" [ngClass]="{'grey-text-color': item.openHour.toLowerCase() === 'closed'}" class="content-left col font-10 line-height-120">
          <p class="col-40 content-left">{{item.dates}}</p>
          <p class="col-60 content-right">{{item.openHour}}</p>
        </div>
      </div>
      <div *ngIf="!todayOpenHour" class="content-left col font-12 line-height-120 grey-text-color">No data</div>
      <p *ngIf="poi.info_last_updated" class="font-10 line-height-120 content-left col p-t-10">Last updated: {{poi.info_last_updated | relativeDate}}</p>
    </mat-card>
    <mat-card class="col-50 right">
      <p class="small-title direction-color p-b-10">CURRENT SERVICES</p>
      <div *ngIf="poi.service_options && poi.service_options.length" class="col font-12 line-height-120 p-b-10">
        <p *ngFor="let service of poi.service_options" [ngClass]="{'none-serve': !service.active}" class="content-left capital">{{service.name}}</p>
      </div>
      <div *ngIf="!(poi.service_options && poi.service_options.length)" class="col font-12 line-height-120 p-b-10 grey-text-color">No data</div>
      <a *ngIf="poi.address" class="content-left address-link" [href]="'https://www.google.com/maps/search/?api=1&query=' + poi.address" target="_blank">
        <p class="font-10 line-height-120 gap-right-5">Open in <span class="normal-link">Google Maps</span></p>
        <img src="/assets/img/related-url.svg" alt="">
      </a>
    </mat-card>
  </div>

  <mat-card>
    <div *ngIf="resources && resources.length">
      <mat-table [dataSource]="resources" class="mat-elevation-z8">
        <!-- resource Column -->
        <ng-container matColumnDef="resource">
          <mat-header-cell class="small-title" *matHeaderCellDef> measures </mat-header-cell>
          <mat-cell class="row-items font-14" *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- score Column -->
        <ng-container matColumnDef="score">
          <mat-header-cell class="small-title" *matHeaderCellDef> ratings (1-5) </mat-header-cell>
          <mat-cell class="row-items mono" *matCellDef="let element">
            <span *ngIf="element.score" [ngStyle]="{ 'background': element.color }" class="score-lable">{{element.score | number:'1.1-1'}}</span>
            <span *ngIf="!element.score" [ngStyle]="{ 'background': element.color }" class="score-lable">--</span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['resource', 'score']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['resource', 'score'];"></mat-row>
      </mat-table>
    </div>
  </mat-card>
  <div class="p-b-30"></div>
  <div class="footer-btn">
    <a class="next" (click)="this.router.navigate(['/rating', poi.id])">
      <span *ngIf="isRated" class="gap-right-15 change-rating">change your ratings</span>
      <span *ngIf="!isRated" class="gap-right-15">rate</span>
      <img src="/assets/img/next-icon.svg" alt="">
    </a>
  </div>
</div>
