.add-button {
  height: 20px;
  width: max-content;
}

.content-fixed {
  position: fixed;
  width: 100%;
  max-width: 768px;
}

.content {
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 768px;

  .onboarding-content {
    height: calc(100vh -70px - 56px);
    position: relative;

    .onboarding-words {
      height: calc(((100vh - 70px - 56px) / 100 * 35) - 16px);
      font-size: 5.2vh;
      font-weight: 300;
      line-height: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dots {
      display: flex;
      justify-content: space-between;
      width: 75px;
      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #EEEEEE;
      }
    }

    .img-groups{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .device {
        padding-top: 70px;
        width: 115%;
      }

        .intro {
          width: 83%;
          position: absolute;
          top: 32%;
          left: 50%;
          transform: translateX(-50%);
          // object-fit: scale-down;

          .intro-a {
            width: 100%;
            padding-bottom: 15px;
          }
          .intro-b {
            width: 100%;
            padding-bottom: 15px;
          }
        }

        .intro2 {
          width: 85%;
        }

        .intro3 {
          img {
            width: 100%;
          }
        }
    }
  }
}

.highlight-words {
  background-color: #FDB515;
}

.install-imgs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .device {
    padding-top: 1.5vh;
    width: 115%;
  }

  .desciption {
    position: absolute;
    padding-top: 10.5vh;
    height: 65vh;

    .app-icon {
      width: auto;
      max-height: 10vh;
      object-fit: scale-down;
    }

    .draft-btn-banner {
      position: relative;
      // height: 100%;

      .draft-btn {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #EE1F60;
        color: #ffffff;
        border-radius: 65px;
        padding: 2vh 1vh 0 1vh;
        font-size: 3vh;
        max-height: 18vh;
        text-align: center;
        img {
          height: 8vh;
        }
      }
    }
  }
}
