<div class="content" [hidden]="stage != PageStage.Intro01">
  <mat-card class="header-btn" layout="fill">
    <a [routerLink]="['/landing']" class="back upcase">
      <img class="gap-right-5" src="/assets/img/back-small.svg" alt="back-arrow">
      <span>back</span>
    </a>
  </mat-card>
  <div class="onboarding-content">
    <mat-card class="no-top center-direction">
      <div class="onboarding-words direction-color">
        <p>Navigate the Berkeley community during COVID-19.</p>
      </div>
    </mat-card>
    <mat-card class="content-center no-bottom">
      <div class="dots">
        <div class="dot" style="background: #00B0DA;"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </mat-card>
    <mat-card class="no-top no-bottom">
      <div class="img-groups">
        <img class="device" src="/assets/img/device.svg" alt="">
        <div class="intro">
          <img class="intro-a" src="/assets/img/intro1.png" alt="">
        </div>
      </div>
    </mat-card>
  </div>
  <div class="footer-btn">
    <a style="color: #ffffff; background: #00B0DA;" class="next" (click)="setStage(PageStage.Intro02)">
      <span class="gap-right-15">Next</span><img src="/assets/img/next-landing.svg" alt="">
    </a>
  </div>
</div>
<div class="content" [hidden]="stage != PageStage.Intro02">
  <mat-card class="header-btn" layout="fill">
    <a (click)="setStage(PageStage.Intro01)" class="back upcase">
      <img class="gap-right-5" src="/assets/img/back-small.svg" alt="back-arrow">
      <span>back</span>
    </a>
  </mat-card>
  <div class="onboarding-content">
    <mat-card class="no-top center-direction">
      <div class="onboarding-words direction-color">
        <div>
          <p>Help one another identify safe resources in and around campus.</p>
        </div>
      </div>
    </mat-card>
    <mat-card class="content-center no-bottom">
      <div class="dots">
        <div class="dot"></div>
        <div class="dot" style="background: #FDB515;"></div>
        <div class="dot"></div>
      </div>
    </mat-card>
    <mat-card class="no-top no-bottom">
      <div class="img-groups">
        <img class="device" src="/assets/img/device.svg" alt="">
        <img class="intro intro2" src="/assets/img/intro2.svg" alt="">
      </div>
    </mat-card>
  </div>
  <div class="footer-btn">
    <a style="color: #ffffff; background: #FDB515;" class="next" (click)="setStage(PageStage.Intro03)">
      <span class="gap-right-15">Next</span><img src="/assets/img/next-landing.svg" alt="">
    </a>
  </div>
</div>
<div class="content" [hidden]="stage != PageStage.Intro03">
  <mat-card class="header-btn" layout="fill">
    <a (click)="setStage(PageStage.Intro02)" class="back upcase">
      <img class="gap-right-5" src="/assets/img/back-small.svg" alt="back-arrow">
      <span>back</span>
    </a>
  </mat-card>
  <div class="onboarding-content">
    <mat-card class="no-top center-direction">
      <div class="onboarding-words direction-color">
        <p>Get community insights without exposing your personal data.</p>
      </div>
    </mat-card>
    <mat-card class="content-center no-bottom">
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot" style="background: #EE1F60;"></div>
      </div>
    </mat-card>
    <mat-card class="no-top no-bottom">
      <div class="img-groups">
        <img class="device" src="/assets/img/device.svg" alt="">
        <div class="intro intro3">
          <p class="p-b-30 sub-direction-color">1,234 people from Berkeley have checked in this week.</p>
          <img src="/assets/img/intro3.svg" alt="">
        </div>
      </div>
    </mat-card>
  </div>
  <div class="footer-btn">
    <a style="color: #ffffff; background: #EE1F60;" class="next" (click)="setStage(PageStage.OnInstall)">
      <span class="gap-right-15">install</span><img src="/assets/img/done.svg" alt="">
    </a>
  </div>
</div>
<div [ngStyle]="{'height': viewHeight}" class="content-fixed" [hidden]="stage != PageStage.OnInstall">
  <mat-card class="header-btn" layout="fill">
    <a (click)="setStage(PageStage.Intro03)" class="back upcase">
      <img class="gap-right-5" src="/assets/img/back-small.svg" alt="back-arrow">
      <span>back</span>
    </a>
  </mat-card>
  <div class="header-page-title direction-color">
    <span class="page-title">Install Autonomy</span>
  </div>
  <div *ngIf="isMobileExceptIOS">
    <p>is Android</p>
    <button [hidden]="!isShowAddBtn" #addBtn (click)="addToHomeScreen()" class="add-button">Add to home screen</button>
  </div>
  <mat-card *ngIf="isIOSSafari" style="font-size: 2.3vh; margin-top: 3vh;" class="no-top no-bottom">
    <p class="p-b-10"><span class="highlight-words">Autonomy is a new kind of app </span>(a progressive web app) that combines the lightness and efficiency of a website with the convenience and security of a mobile app.</p>
    <p>
      <span>To install Autonomy:</span><br/>
      <span>1. Tap the share button <img src="/assets/img/ios-share.svg" alt=""> below in Safari.</span><br/>
      <span>2. Then tap “Add to Home Screen.”</span><br/>
      <span>3. To use Autonomy, just tap the icon on your home screen like a regular app.</span>
    </p>
    <div class="install-imgs">
      <img class="device" src="/assets/img/device.svg" alt="">
      <div class="desciption">
        <img class="app-icon" src="/assets/img/autonomy-app-icon.svg" alt="">
        <div class="draft-btn-banner">
          <div class="draft-btn"><p class="upcase p-b-5">tap</p><img src="/assets/img/done.svg" alt=""></div>
        </div>
      </div>
    </div>
  </mat-card>
  <div *ngIf="isIOSOther">
    <p>is IOS others</p>
  </div>
  <div *ngIf="isDesktop">
    <p>is Desktop</p>
  </div>
</div>
