<div class="content" [hidden]="stage != PageStage.Intro01">
  <mat-toolbar class="header" layout="fill">
    <div class="header-line"><hr><hr></div>
    <div class="header-title direction-color"><span>1</span><span class="none-focus">2</span><span class="none-focus">3</span></div>
    <div class="header-line"><hr><hr>
    </div>
  </mat-toolbar>
  <div class="onboarding-content">
    <mat-card class="no-top center-direction">
      <div class="onboarding-words direction-color">
        <p>Navigate the Berkeley community during COVID-19.</p>
      </div>
    </mat-card>
    <mat-card class="no-top no-bottom">
      <div class="img-groups">
        <img class="device" src="/assets/img/device.svg" alt="">
        <div class="intro">
          <img class="intro-a" src="/assets/img/intro1.png" alt="">
          <!-- <img class="intro-b" src="/assets/img/intro1b.svg" alt=""> -->
        </div>
      </div>
    </mat-card>
  </div>
  <div class="bottom-buttons">
    <div class="back">
      <a [routerLink]="['/landing']"><img src="/assets/img/back-icon.svg" alt=""><span class="command">Back</span></a>
    </div>
    <div class="next">
      <a (click)="setStage(PageStage.Intro02)"><span class="command">Next</span><img src="/assets/img/next-icon.svg" alt=""></a>
    </div>
  </div>
</div>
<div class="content" [hidden]="stage != PageStage.Intro02">
  <mat-toolbar class="header" layout="fill">
    <div class="header-line"><hr><hr></div>
    <div class="header-title direction-color"><span class="none-focus">1</span><span>2</span><span class="none-focus">3</span></div>
    <div class="header-line"><hr><hr></div>
  </mat-toolbar>
  <div class="onboarding-content">
    <mat-card class="no-top center-direction">
      <div class="onboarding-words direction-color">
        <div>
          <p>Help one another identify safe resources in and around campus.</p>
        </div>
      </div>
    </mat-card>
    <mat-card class="no-top no-bottom">
      <div class="img-groups">
        <img class="device" src="/assets/img/device.svg" alt="">
        <img class="intro intro2" src="/assets/img/intro2.svg" alt="">
      </div>
    </mat-card>
  </div>
  <div class="bottom-buttons">
    <div class="back">
      <a (click)="setStage(PageStage.Intro01)"><img src="/assets/img/back-icon.svg" alt=""><span class="command">Back</span></a>
    </div>
    <div class="next">
      <a (click)="setStage(PageStage.Intro03)"><span class="command">Next</span><img src="/assets/img/next-icon.svg"
          alt=""></a>
    </div>
  </div>
</div>
<div class="content" [hidden]="stage != PageStage.Intro03">
  <mat-toolbar class="header" layout="fill">
    <div class="header-line"><hr><hr></div>
    <div class="header-title direction-color"><span class="none-focus">1</span><span class="none-focus">2</span><span>3</span></div>
    <div class="header-line"><hr><hr>
    </div>
  </mat-toolbar>
  <div class="onboarding-content">
    <mat-card class="no-top center-direction">
      <div class="onboarding-words direction-color">
        <p>Get community insights without exposing your personal data.</p>
      </div>
    </mat-card>
    <mat-card class="no-top no-bottom">
      <div class="img-groups">
        <img class="device" src="/assets/img/device.svg" alt="">
        <div class="intro intro3">
          <p class="p-b-30 sub-direction-color">1,234 people from Berkeley have checked in this week.</p>
          <img src="/assets/img/intro3.svg" alt="">
        </div>
      </div>
    </mat-card>
  </div>
  <div class="bottom-buttons">
    <div class="back">
      <a (click)="setStage(PageStage.Intro02)"><img src="/assets/img/back-icon.svg" alt=""><span class="command">Back</span></a>
    </div>
    <div class="next">
      <a (click)="signup()"><span class="command">Next</span><img src="/assets/img/next-icon.svg"
          alt=""></a>
    </div>
  </div>
</div>
