.add-button {
  position: absolute;
  top: 45px;
  left: 1px;
  z-index: 99;
  height: 20px;
  width: max-content;
}

.content {
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 768px;

  .onboarding-content {
    height: calc(100vh -70px - 56px);
    position: relative;

    .onboarding-words {
      height: calc(((100vh - 70px - 56px) / 100 * 35) - 16px);
      font-size: 5.2vh;
      font-weight: 300;
      line-height: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dots {
      display: flex;
      justify-content: space-between;
      width: 75px;
      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #EEEEEE;
      }
      .viewable {
        background: #003262;
      }
    }

    .img-groups{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .device {
        padding-top: 70px;
        width: 115%;
      }

        .intro {
          width: 83%;
          position: absolute;
          top: 32%;
          left: 50%;
          transform: translateX(-50%);
          // object-fit: scale-down;

          .intro-a {
            width: 100%;
            padding-bottom: 15px;
          }
          .intro-b {
            width: 100%;
            padding-bottom: 15px;
          }
        }

        .intro2 {
          width: 85%;
        }

        .intro3 {
          img {
            width: 100%;
          }
        }
    }
  }
}
