.profile-content {
  padding-bottom: 140px;
  position: relative;
}

.section-row {
  display: flex;
  width: 100%;
  color: inherit;
  background-color: inherit;

  .section-title {
    float: left;
    vertical-align: top;

  }
  .big-words {
    font-family: 'Domaine Sans Text';
    font-size: 36px;
    font-weight: 300;
    line-height: 100%;
    text-transform: uppercase;
  }
  
  .section-child {
    text-transform: uppercase;

    .link-detail {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #000000 !important;
    }
  }
}

.donation {
  background: #0060F2;
  display: flex;
  text-align: center;
  align-items: center;

  .title-align {
    font-size: 1.1em;
    text-transform: uppercase;
    align-items: center;
  }
}

.profile-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
  position: absolute;
  bottom: 0;
  background-color: #E3EBF8;
  color: #545454;
  width: 100%;

  .version {
    font-size: 14px;
    font-weight: 300;
    line-height: 105.6%;
  }

  .privacy {
    font-size: 12px;
    font-weight: 300;

    a {
      text-decoration: underline;
    }
  }
}
