.profile-content {
  padding-bottom: 120px;
}

.section-row {
  display: flex;
  width: 100%;
  color: inherit;
  background-color: inherit;

  .section-title {
    float: left;
    vertical-align: top;

  }
  .big-words {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
  }
  
  .section-child {
    text-transform: uppercase;

    .link-detail {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.donation {
  background: #0060F2;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;

  .title-align {
    align-items: center;
  }
}

.profile-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;

  .version {
    color: #ffffff;
    font-size: 0.75em;
    font-weight: 300;
  }

  .privacy {
    color: #BFBFBF;
    font-size: 0.75em;
    font-weight: 300;

    a {
      text-decoration: underline;
    }
  }
}
