.dashboard {
  .address-point {
    text-align: center;

    img {
      width: 100%;
      height: 100%;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -80%);
      font-size: 1.25em;
      font-weight: 300;
    }
  }
}

.top-profile {
  position: absolute;
  right: 10px;

  a {
    display: flex;
  }
}

.alias-dashboard {
  resize: none;
  background: #000000;
  color: #ffffff;
  border: unset;
  width: 100%;
  font-size: 1em;
  font-family: 'Domaine Sans Text';
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
