<div class="landing-pwa">
  <div class="landing-content-pwa">
    <div style="height: 30px;"></div>
    <div class="header-page-title direction-color m-b-30">
      <span class="line-title-up line-title"></span>
      <span style="padding-left: 10px;" class="big-words">Your account</span>
    </div>
    <mat-card>
      <p class="font-18 line-height-120 p-b-20">Creating an Autonomy account <span class="normal-link">does not</span> require an email address or any other personal information.</p>
      <p class="content-left font-18 line-height-120 p-b-20">Your account gives you rights to:</p>
      <div class="col content-left">
        <div class="gap-right-5"><img style="padding-bottom: 2px;" src="/assets/img/triangle-arrow.svg" alt=""></div>
        <div class="col">
          <p class="font-18 line-height-120 p-b-10">Submit and view anonymized, non-personally-identifiable Autonomy data from the Berkeley community.</p>
          <!-- <p class="font-14 direction-color gap-right-5 p-b-20">Only you and the study administrator will be able to access the data stored in your PDE.</p> -->
          <div class="light-line"><hr></div>
        </div>
      </div>
      <div class="col content-left p-t-20">
        <div class="gap-right-5"><img style="padding-bottom: 2px;" src="/assets/img/triangle-arrow.svg" alt=""></div>
        <div class="col">
          <p class="font-18 line-height-120 p-b-10">Export and delete your Autonomy data.</p>
          <div class="light-line"><hr></div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="landing-footer">
    <div class="start-landing p-b-10">
      <a (click)="signup()"><span class="command">create account</span><img src="/assets/img/next-landing-black.svg" alt=""></a>
    </div>
    <p>Or <a class="normal-link" [routerLink]="['/onboarding/signin']">sign back in »</a></p>
  </div>
</div>
