.content {
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 768px;
}

.landing-pwa {
  min-height: 100vh;
  background: #ffffff;
  .landing-content-pwa {
    position: relative;
    padding-bottom: 100px;
  }

  .landing-footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #FDB515;
    background-color: unset;
    width: 100%;
    height: 110px;

    .start-landing {
      font-family: 'Domaine Sans Text';
      font-weight: 300;
      font-size: 24px;
      line-height: 100%;
      text-transform: uppercase;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 65px;
        background: #FDB515;
        color: #000000;
        padding: 8px 15px;
        .command {
          padding-right: 1rem;
          max-width: 165px;
          text-align: end;
        }
        img {
          width: 45px;
          height: 45px;
        }
      }
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    p {
      font-size: 14px;
      padding-bottom: .7em;
      &:nth-child(1) {
        padding: .5em;
      }
    }
  }
}

.link-link {
  text-decoration: underline;
  color: #0066CC;
}

ul {
  padding-inline-start: 16px;
}

.pid-box {
  border-bottom: 1px solid #DDD5C7;
  background: #EEEEEE;
  .pid {
    width: 100%;
    background: #EEEEEE;
    border: none;
    font-size: 24px;
    color: #003262;
    resize: unset;
    padding: 16px;
    caret-color: #003262 !important;
  }
}

.pid-box-invalid {
  border: 1px solid #CC3232 !important;
  box-sizing: border-box;
}

.error-mssg {
  color: #CC3232;
  font-size: 14px;
  padding-left: 16px;
  line-height: 125%;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .header {
    height: 45px;
  }

  .autonomy-logo {
    height: 95% !important;
  }
}

@media screen and (max-height: 568px) and (orientation: portrait) {
  .header {
    height: 40px;
  }

  .autonomy-logo {
    height: 75% !important;
  }

  .ucl-logo {
    height: 25% !important;
  }
}

@media screen and (max-height: 568px) and (orientation: landscape) {
  .header {
    height: 40px;
  }

  .autonomy-logo {
    height: 75% !important;
  }

  .ucl-logo {
    height: 25% !important;
  }
}