$base-color: #ffffff;
$title-color: #BFBFBF;
$base-background: #000000;
$sub-background: #2B2B2B;

html {
  font-family: 'Atlas Grotesk', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

body {
  color: #ffffff;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}


a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

a:hover {
  // color: #125699;
}

hr {
  color: inherit;
  height: 0.5px;
  height: 0.75px;
  border: none;
  background-color: grey;
}

button {
  background-color: $base-background;
  color: $base-color;
  border: unset;
}

.main-content {
  padding-bottom: 70px;
}

.default-color {
  background-color: $base-background;
  color: $base-color;
}

.header {
  color: grey;
  background-color: inherit;
  font-family: 'Domaine Sans Text';
  font-weight: 300;
  font-size: 14px;
  font-style: normal;

  .header-line {
    width: 30%;
    hr {
      color: inherit;
      margin-bottom: .1rem;
      height: 0.5px;
      height: 0.75px;
      border: none;
      background-color: grey;
    }
  }

  .header-title {
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
  }
}

.title-page {
  display: flex;
  justify-content: center;
  color: inherit;
  background-color: inherit;
  font-family: 'Domaine Sans Text';
  font-size: 1.25em;
  font-style: normal;
  text-transform: uppercase;
}

.small-title {
  display: flex;
  justify-content: left;
  color: $title-color;
  background-color: inherit;
  font-family: 'Domaine Sans Text';
  font-size: 10px;
  font-style: normal;
  text-transform: uppercase;
}

.row-items {
  color: $base-color;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid $sub-background;
}

.last-item {
  border-bottom: unset;
}

.direction {
  font-size: 24px;
  line-height: 120%;
}

.sub-direction {
  color: $title-color !important;
  font-size: 14px;
  text-transform: uppercase;
}

.resource-footer {
  padding-left: unset !important;
  padding-right: unset !important;

  .resource-footer-items {
    color: $title-color;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 16px;
      object-fit: scale-down;
    }

    span {
      margin: 0.5em;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.mat-card {
  background-color: inherit;
  color: inherit;
}

.bottom-buttons {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 1rem;
  padding-top: 10px;
  display: flex;
  align-items: center;
  background: #1B1B1B;;

  a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
  }

  .next {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    .command {
      padding-right: 1rem;
    }
  }

  .back {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    .command {
      padding-left: 1rem;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #2B2B2B;
  width: 100%;
}

.search-bar {
  background-color: #2B2B2B;

  .search-icon {
    color: grey;
    margin-right: 5px;

    img {
      width: inherit;
    }
  }

  .search-input {
    width: 100%;
    background-color: inherit;
    border: unset;
    font-size: 18px;
    color: #ffffff;
  }
}

.search-item {
  padding-left: unset;
  padding-right: unset;
  border-bottom: 1px solid $base-color;
}

.triangle {
  text-align: center;

  img {
    width: 100%;
  }

  .inside-triangle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
    font-weight: normal;

    .score {
      font-size: 7ex;
    }
    .delta {
      font-size: 2ex;
    }
  }
}

.no-bottom {
  padding-bottom: unset !important;
}

.no-top {
  padding-top: unset !important;
}

.disable-btns {
  opacity: 0.25;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

.col-90 {
  width: 90%;
}

.gap-right-10 {
  margin-right: 10px;
}

.content-left {
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.content-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.content-center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.upcase {
  text-transform: uppercase;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.green {
  display: flex;
  color: green;
  align-items: center;
}

.red {
  display: flex;
  color: red;
  align-items: center;
}

.grey {
  display: flex;
  color: $title-color;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}
