<div [ngClass]="{'fullscreen': isFullscreen}">
  <mat-tab-group headerPosition="below" mat-align-tabs="center" (click)="tabClick()" [selectedIndex]="tabActivated" (selectedIndexChange)="tabActiveChange($event)" animationDuration="200ms" [disablePagination]="true">
    <mat-tab class="col upcase" label="Trends">
      <app-trend></app-trend>
    </mat-tab>
    <mat-tab class="col upcase" label="Resources">
      <ng-template matTabContent>
        <app-resources></app-resources>
      </ng-template>
    </mat-tab>
    <mat-tab class="col upcase" label="Account">
      <ng-template matTabContent>
        <app-setting></app-setting>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>