<div style="position: relative; overflow-x: hidden;">
  <div class="main-content">
    <mat-card class="no-top"></mat-card>
    <div class="header-page-title direction-color m-b-30">
      <span class="line-title line-title-up"></span>
      <span (click)="openWelcomeAlert()" class="big-words page-title clickable">check-in</span>
      <span (click)="openWelcomeAlert()" class="letter-icon">
        <img src="/assets/img/warning_outlined.svg" alt="i">
      </span>
    </div>
    <mat-card class="main-direction sub-direction-color content-left no-top no-bottom">
      <p class="p-b-30 font-24 direction-color line-height-120">Help your Berkeley community cope better during COVID-19.</p>
    </mat-card>
    <mat-card class="no-top no-bottom">
      <div *ngIf="!surveyCompleted" class="notify-alert">
        <p (click)="checkIn()" class="font-24 clickable" style="display: flex; justify-content: space-between;">
          <span class="p-r-30 font-weight-normal">Check in with us for this week!</span>
          <img src="/assets/img/next-bold.svg" alt="">
        </p>
      </div>
      <div *ngIf="surveyCompleted" class="notify-alert completed">
        <p class="font-24 clickable" style="display: flex; justify-content: space-between;">
          <span class="p-r-30 font-weight-normal">Thanks for checking in this week!</span>
          <img src="/assets/img/checked-white.svg" alt="">
        </p>
      </div>
    </mat-card>
    <mat-card class="no-bottom font-14 line-height-120 content-center sub-direction-color">
      <p *ngIf="!surveyCompleted" class="text-start p-b-60">Take a moment to respond to a few questions and help researchers fight the epidemic.</p>
      <p *ngIf="surveyCompleted" class="text-start p-b-60">Don’t worry, your data will always be anonymous and non-personally-identifiable (even to us).</p>
    </mat-card>
    <div class="bold-line"></div>
    <mat-card class="font-14 line-height-120 content-center sub-direction-color">
      <div class="col">
        <p class="text-start p-b-20 direction-color">Developed in partnership with</p>
        <div class="group-partnership">
          <div><img src="/assets/img/health-lab.svg" alt=""></div>
          <div><img src="/assets/img/ucb-health-research.svg" alt=""></div>
          <div><img src="/assets/img/school-of-public-health.svg" alt=""></div>
        </div>
      </div>
    </mat-card>
    <div class="p-b-60"></div>
  </div>

  <div [@surveyTransition]="getSurveyState()" class="survey-content">
    <app-survey [surveyShown]="surveyShown" [includeMonthly]="includeDemographicQuestion" (exitSurvey)="exitSurvey($event)" (surveyCompleted)="completeSurvey($event)"></app-survey>
  </div>
</div>

<ng-template #welcomeAlert>
  <div class="p-b-15 p-t-15 p-l-15 p-r-15">
    <div class="content-right p-b-15"><img (click)="dialog.closeAll()" src="/assets/img/dismiss.svg" alt="close"></div>
    <p class="font-24 p-b-30">Dear Berkeley resident,</p>
    <div class="font-14 line-height-1-3">
      <p class="p-b-10">Welcome to Autonomy! We are excited to officially launch the app exclusively in the Berkeley community.</p>
      <p class="p-b-10">If you were with us during the UC Berkeley research study - welcome back! Your input in the past few weeks has been valuable in helping us continue this project.</p>
      <p class="p-b-10">If you’re a new member, welcome aboard! We created Autonomy to help the community - researchers, citizens, you - become more informed about COVID-19 in Berkeley.</p>
      <div class="p-b-10">
        <p>What can I do?</p>
        <p>
          <span>- <strong>Weekly check-ins</strong>, to help us understand how you’re doing.</span><br/>
          <span>- <strong>Rate essential resources</strong>, to see how “healthy” businesses near you are.</span><br/>
          <span>- <strong>Help us!</strong> We are receptive to all forms of feedback, and will do our best to serve you.</span>
        </p>
      </div>
      <p class="p-b-30">We hope you stick with us as we develop a valuable app for you, together.</p>
      <div class="p-t-10">
        <p class="content-right">Sincerely,</p>
        <p class="content-right">Fellow Cal Bears and the Bitmark team</p>
      </div>
    </div>
  </div>
</ng-template>
