.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.keys-out {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  width: 10vw;
}

.word-count,
.slide-words {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  font-size: 1.5em;
  opacity: 0.5;
}

.center {
  font-size: 2.25em;
  opacity: 1;
}

.right {
  font-size: 1.5em;
  opacity: 0.5;
}

.word {
  width: 50vw;
  display: flex;
  justify-content: center;
}
