.form-title {
  background: #FDB515;
}

.form-subtitle {
  color: #404040;
  font-size: 12px;
}

.feedback{
  color: #000000;
  font-size: 12px;
  padding: 0 15px;

  textarea {
    font-family: 'Atlas Grotesk';
    resize: none;
    border: none;
    border-radius: unset;
    background: rgba(185, 211, 182, 0.4);
    padding: 15px;
    width: 100%;
    overflow: auto;
  }
}

.submit-btn {
  background: #46535E;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 8px;
}

.remind-later {
  color: #0060F2;
  font-size: 8px;
  background: #FFFFFF;
  opacity: 0.75;
}
